.features {
    position: relative;

    background-color: $white;
}

.features__title {
    width: 320px;
    margin: 0 auto;
    padding: 40px 40px 0 40px;

    text-align: center;

    font-size: 2.4rem;
    font-weight: 300;

    &:nth-child(2) {
        padding-bottom: 50px;
    }

    @media all and (min-width: 700px) {
        width: 100%;
    }

    @media all and (min-width: $screen-xl) {
        font-size: 5.0rem;
        line-height: 1;

        &:nth-child(2) {
            padding-top: 10px;
            padding-bottom: 125px;
        }
    }
}

.features__figure {
    position: absolute;
    top: 212px;

    overflow: hidden;

    width: 100%;
    height: 38px;
    margin: 0;

    @media all and (min-width: 700px) {
        top: 190px;

        height: 54px;
    }

    @media all and (min-width: $screen-xl) {
        top: 265px;

        height: 92px;
    }

    & .features__figure-left {
        position: absolute;

        width: 0;
        height: 0;

        border-bottom: 38px solid $gray-light;
        border-left: 1000px solid transparent;

        @media all and (min-width: $screen-md) {
            border-bottom-width: 54px;
            border-left-width: 1250px;
        }

        @media all and (min-width: $screen-xl) {
            border-bottom-width: 92px;
            border-left-width: 1450px;
        }

        @media all and (min-width: $screen-xxl) {
            border-bottom-width: 92px;
            border-left-width: 2000px;
        }

        @media all and (min-width: 2000px) {
            border-bottom-width: 92px;
            border-left-width: 3000px;
        }
    }
}

.features__item-wrapper {
    background-color: $gray-light;

    @media all and (min-width: $screen-xl) {
        height: 485px;
    }
}

.features__items {
    position: relative;

    display: flex;
    flex-direction: column;

    margin: 0 auto;
    margin-top: 32px;
    padding-top: 50px;

    text-align: center;

    -js-display: flex;

    @media all and (min-width: 700px) {
        width: 660px;
        padding-top: 25px;

        align-items: flex-end;
    }

    @media all and (min-width: $screen-xl) {
        position: relative;
        top: -100px;

        flex-direction: row;

        width: 960px;

        flex-wrap: wrap;
    }
}

.feature__item {
    padding: 0 40px 30px 40px;

    &.feature__item--image1,
    &.feature__item--image2 {
        display: none;
    }

    &.feature__item--image3 {
        margin-top: 20px;

        order: 4;
    }

    &.feature__item--image3 img {
        height: 278px;
    }

    @media all and (min-width: 700px) {
        width: 330px;
        padding-right: 10px;
        padding-left: 10px;

        text-align: left;

        &:last-child {
            padding-bottom: 40px;
        }

        &.feature__item--image3 {
            position: absolute;
            top: -48px;
            left: 10px;
        }

        &.feature__item--image3 img {
            height: 461px;
        }
    }

    @media all and (min-width: $screen-xl) {
        width: 33%;

        text-align: center;

        &.feature__item--image1,
        &.feature__item--image2,
        &.feature__item--image3 {
            display: block;

            background-image: url(../img/shadow.png);
            background-repeat: no-repeat;
            background-position: 50% 326px;
        }

        &.feature__item--image3 {
            position: static;

            margin-top: 0;

            order: 0;
        }

        &.feature__item--image1 img,
        &.feature__item--image2 img,
        &.feature__item--image3 img {
            width: 185px;
            height: auto;
        }

        &:last-child {
            padding-bottom: 30px;
        }
    }
}

.feature__item-title {
    padding-bottom: 15px;

    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.4rem;

    @media all and (min-width: $screen-lg) {
        font-size: 3rem;
        line-height: 3rem;
    }
}

.feature__item-caption {
    color: $blue--dark;

    font-size: 1.4rem;
    line-height: 2.4rem;

    @media all and (min-width: $screen-lg) {
        font-size: 1.4rem;
    }
}
///////// Features effect element
//@include container();
//@include row();
//@include col(xl, 4,11,20px);

.features__effect {
    display: none;

    @media all and (min-width: $screen-md) {
        @include container();

        padding-top: 55px;
        padding-bottom: 65px;

        &.features__effect {
        }
    }

    @media all and (min-width: $screen-xl) {
        &.features__effect {
            background-color: $gray-light;
        }
    }
}

.features__effect-wrapper {
    @include row();

    position: relative;

    @media all and (min-width: $screen-md) {
        width: 660px;
        margin: 0 auto;
    }

    @media all and (min-width: $screen-lg) {
        width: 960px;
    }
}

.features__effect-timer {
    @include col(md, 4, 8, 20px);

    @media all and (min-width: $screen-lg) {
        @include col(xl, 4, 12, 20px);
    }
}

.features__effect-img {
    opacity: .1;
}

.features__effect-time {
    position: absolute;
    top: 64px;
    left: 33px;

    width: 215px;
    height: 215px;

    text-align: center;

    color: $text-pink;
    border: 13px solid $text-pink;
    border-radius: 50%;

    font-size: 105px;
    line-height: 185px;

    @media all and (min-width: $screen-xl) {
        top: 78px;
        left: 38px;

        width: 240px;
        height: 240px;

        border-width: 14px;

        font-size: 120px;
    }
}

.features__effect-proof {
    @include col(md, 4, 8, 0px);

    padding-top: 45px;

    @media all and (min-width: $screen-lg) {
        @include col(xl, 8, 12, 20px);

        padding-right: 50px;
        padding-left: 50px;
    }
}

.features__effect-title {
    padding-bottom: 15px;

    font-size: 3.0rem;
    font-weight: bold;
    line-height: 3.6rem;
}

.features__effect-caption {
    padding-bottom: 15px;

    color: $blue--dark;

    font-size: 1.4rem;
    line-height: 2.4rem;

    @media all and (min-width: $screen-xl) {
        font-size: 1.8rem;
        line-height: 3.0rem;
    }
}

.features__effect-link {
    text-decoration: underline;

    color: $text-pink;

    font-size: 1.4rem;
    line-height: 2.4rem;

    &:hover {
        color: $blue--dark;
    }

    &:active {
        color: $blue--dark-transparent;
    }

    @media all and (min-width: $screen-xl) {
        font-size: 1.8rem;
        line-height: 3.0rem;
    }
}
