.map {
  position: relative;

  height: 400px;
}


// Skew on map
.map__skew {
  position: absolute;
  z-index: $z-index-first;

  overflow: hidden;

  width: 100%;
  height: 72px;
  margin: 0 auto;
}

.map__skew--left,
.map__skew--right {
  position: absolute;

  overflow: hidden;

  width: 50%;
  height: 72px;
}

.map__skew--left {
  left: 0;
}

.map__skew--right {
  right: 0;
}

.map__skew--left::after,
.map__skew--right::after {
  position: absolute;

  width: 0;
  height: 0;

  content: "";

  border-top: 72px solid $white;
}

.map__skew--left::after {
  border-left: 350px solid transparent;

  @media screen and (min-width: $screen-md) {
    border-left-width: 600px;
  }

  @media screen and (min-width: $screen-xl) {
    border-left-width: 750px;
  }

  @media screen and (min-width: $screen-xxl) {
    border-left-width: 1000px;
  }
}

.map__skew--right::after {
  right: 0;

  border-right: 350px solid transparent;

  @media screen and (min-width: $screen-md) {
    border-right-width: 600px;
  }

  @media screen and (min-width: $screen-xl) {
    border-right-width: 750px;
  }

  @media screen and (min-width: $screen-xxl) {
    border-right-width: 1000px;
  }
}
// skew map end


.map__yandex {
  height: 400px;

  background-image: url(../img/map_fallback.jpg);
}

.map__yandex-placemark {
  width: 16px;
  height: 16px;

  border: 10px solid $white;
  border-radius: 50%;
  background-color: $text-pink;
}
