.page-menu__item {
    position: relative;

    width: 100%;
    margin-bottom: 1px;
    padding: 15px 0;

    box-shadow: $shadow--mobile-menu, inset $shadow--mobile-menu-light;

    // White underline with animation


    @media all and (min-width: $screen-lg) {
        width: auto;
        padding-top: 48px;
        padding-bottom: 45px;

        box-shadow: none;



        &:not(:first-child) {
            margin-left: 50px;
        }
    }
}

.page-menu__link {
    display: inline-block;

    width: 100%;
    height: 100%;

    text-decoration: none;
    text-transform: uppercase;

    color: $white;

    font-size: 1.8rem;
    line-height: 3.2rem;

    &::after {
        position: absolute;
        bottom: -1px;
        left: 0;

        width: 0;

        content: "";
        transition: width $transition-time;

        background-color: $white;
    }
    .page-menu__item--active &::after,
    &:hover::after {
        width: 100px;
        height: 2px;
    }

    &:focus {
        text-decoration: none;

        color: inherit;
    }

    &:hover {
        text-decoration: none;

        color: $text-pink;
    }

    &:active {
        text-decoration: none;

        opacity: .3;
    }

    @media all and (min-width: $screen-lg) {
        width: auto;
        height: auto;

        line-height: 1.8rem;

        &:focus {
            color: $white;
        }

        &:hover {
            color: $white;
        }

        .page-menu__item--active &::after,
        &:hover::after {
            bottom: 35px;

            width: 100%;
        }
    }
}

// Burget Button
.page-menu__burger-wrapper {
    @include col(xs, 1, 4);
    @include col-offset(xs, 1, 4);

    float: right;

    width: 50px;
    height: 24px;
    margin: 21px 0 0 0;

    cursor: pointer;

    @media all and (min-width: 700px) {
        margin-top: 40px;
    }

    @media all and (min-width: $screen-lg) {
        display: none;
    }
}

.page-menu__burger {
    position: relative;
    right: 40px;

    display: block;
    float: right;

    width: 50px;
    height: 4px;
    margin-top: 10px;
    padding: 0;

    background-color: $white;

    &:hover {
        background-color: $text-pink;
    }

    &:active {
        opacity: .3;
        background-color: $text-pink;
    }
    .page-menu__burger-wrapper:hover & {
        background-color: $text-pink;
    }

    .page-menu__burger-wrapper:hover &::before,
    .page-menu__burger-wrapper:hover &::after {
        background-color: $text-pink;
    }

    .page-menu__burger-wrapper:active &::before,
    .page-menu__burger-wrapper:active &::after {
        opacity: .3;
        background-color: $text-pink;
    }

    &::before,
    &::after {
        position: absolute;

        display: block;

        width: 50px;
        height: 4px;

        content: "";

        background-color: $white;
    }

    &::before {
        top: -10px;
    }

    &::after {
        top: 10px;
    }

    //// Menu opened
    .page-header--page-menu-opened &::before,
    .page-header--page-menu-opened &::after {
        left: 30px;

        width: 20px;
    }

    .page-header--page-menu-opened &::before {
        transform: rotate(-45deg);
    }

    .page-header--page-menu-opened &::after {
        top: -10px;

        transform: rotate(45deg);
    }

    .page-header--page-menu-opened & {
        top: 10px;

        width: 0;
        height: 0;
    }

    @media all and (min-width: 700px) {
        .page-header--page-menu-opened &::before {
            top: 0;
        }

        .page-header--page-menu-opened &::after {
            top: 0;
        }
    }
}
